.wrapper {
    h1 {
        font-size: 20px;
        font-weight: 600;
        color: #fff;
    }
}

.btn-addBlog {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
}
